<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start" class="menu_btn"> 
      <ion-back-button color="light" defaultHref="search-chef"></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
    <ion-icon name="notifications" slot="end"></ion-icon>
    <ion-badge id="notifications-badge-msg" color="danger">2</ion-badge>
    <ion-icon name="cart" slot="end"></ion-icon>
    <ion-badge id="notifications-badge" color="danger">5</ion-badge>
    <img slot="end" src="../../../assets/prva.jpg" alt="">
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="top">
    <div class="image">
      <img src="../../../assets/prva.jpg" />
    </div>
    <div class="desc">
      <h3>Annie Duffy</h3>
      <p>Annieduff@gmail.com</p>
    </div>
    <div class="edit">
      <ion-button color="danger">Edit</ion-button>
    </div>
  </div>

  <div class="upperBox">
    <ion-list>
      <ion-item>
        <img src="../../../assets/profile/checklist.png">
        <ion-label>My Orders</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>

      <ion-item>
        <img src="../../../assets/profile/favorite.png">
        <ion-label>My favourite</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>

      <ion-item>
        <img src="../../../assets/profile/creditcard2.png">
        <ion-label>Payment Method </ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>

      <ion-item>
        <img src="../../../assets/profile/adress2.png">
        <ion-label>My Adress </ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>

      <ion-item>
        <img src="../../../assets/profile/dollar.png">
        <ion-label>Payment History </ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>

      <ion-item>
        <img src="../../../assets/profile/settings.png">
        <ion-label>Preferences </ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>

      <ion-item>
        <img src="../../../assets/profile/gift.png">
        <ion-label>Rewards </ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>

      <ion-item>
        <img src="../../../assets/profile/key.png">
        <ion-label>Change Password </ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>

    </ion-list>
  </div>


  <div class="upperBox">
    <ion-list>
      <ion-item>
        <img src="../../../assets/profile/faq.png">
        <ion-label>FAQ's & Help </ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>

      <ion-item>
        <img src="../../../assets/profile/terms.png">
        <ion-label>Privacy & Policy </ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>

      <ion-item>
        <img src="../../../assets/profile/invite.png">
        <ion-label>Invite Friends </ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>

    </ion-list>


  </div>


</ion-content>
